# edit and save as .env
DOCK_HOME="$PWD"
DOCK_SERVICESDIR="$DOCK_HOME/services"

# for me, ./up is a symlink to external storage at /srv/hd/dock/up
DOCK_CONFDIR=./up/config
DOCK_STORAGEDIR=./up/storage

DOCK_COMPOSEFILE=docker-compose.yml
DOCK_COMPOSEVERSION=2.1

DOCK_HOSTNAME=example.org
DOCK_IP=192.168.1.2

DOCK_UID=1000
DOCK_GID=1000

DOCK_MAIL_TO=user@mail.com
DOCK_MAIL_SMTP_HOST=smtp.mail.com
DOCK_MAIL_SMTP_PORT=587

DOCK_PASSLEN=16

# https://blog.packagecloud.io/eng/2017/02/21/set-environment-variable-save-thousands-of-system-calls/
DOCK_TZ=:/etc/localtime
